<section class="productAdding">
  <div class="container">
    <div class="productAdding__wrapper">
      <div class="productAdding__steps">
        <span class="step">Sa recette</span>
        <span class="step">Prix</span>
        <span class="step disable">Panier</span>
      </div>
      <div class="productAdding__selections">
        <h2 class="selections__title">Votre conditionnement</h2>
        <div class="selections__list">
          {% for variant in product.variants %}
            <label class="selections__card">
              <input type="radio" name="weigth_one" data-variantid="{{product.variants[forloop.index0].id}}" data-inventoryquantity="{{variant.inventory_quantity}}"/>
              <div class="decor"></div>
              <div class="card-img">
                <svg
                  width="28"
                  height="57"
                  viewBox="0 0 28 57"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 17.7357C28 17.6242 28 17.6242 28 17.5126L22.5946 2.78857V0.557649C22.5946 0.334557 22.4865 0.111465 22.2703 -8.07345e-05C22.0541 -0.111627 21.8378 -0.111627 21.6216 -8.07345e-05L5.62162 8.9236C5.51351 9.14669 5.2973 9.25824 5.2973 9.48133V11.7122L0 20.5244C0 20.5244 0 20.6359 0 20.7475L0.216216 50.5303C0.216216 50.7533 0.324324 50.9764 0.540541 51.088L11.027 56.9999H11.1351H11.2432H11.3514C11.3514 56.9999 11.4595 56.9999 11.4595 56.8884L27.5676 47.9647C27.7838 47.8531 27.8919 47.6301 27.8919 47.407L28 17.7357ZM6.59459 9.81597L21.4054 1.56156V2.56548L6.59459 10.8199V9.81597ZM10.7027 55.4383L1.40541 50.1956L1.18919 20.9706L5.83784 13.2739L10.7027 26.771V55.4383ZM11.8919 55.4383V26.6594C11.8919 26.5479 11.8919 26.5479 11.8919 26.4363L6.7027 12.1584L21.6216 3.79248L26.7027 17.8473V47.1839L11.8919 55.4383Z"
                    fill="#246E6E"
                  />
                  <path
                    d="M8.97297 25.544C8.86486 25.6556 8.75675 25.7671 8.64864 25.7671C8.54053 25.7671 8.32432 25.7671 8.21621 25.6556L5.62161 23.09L2.59459 22.7554C2.27026 22.7554 2.05405 22.4207 2.16216 22.1976C2.16216 21.863 2.48648 21.7515 2.7027 21.7515L5.83783 22.0861C5.94594 22.0861 6.05405 22.1976 6.16215 22.1976L8.86486 24.8748C9.18918 25.0978 9.18918 25.4325 8.97297 25.544Z"
                    fill="#246E6E"
                  />
                </svg>
              </div>
              <div class="card-value">
                2 kg
              </div>
              <div class="card-text">
                <span>10</span> jours de repas pour <span>Douglas</span>
              </div>
            </label>
          {% endfor %}
          <label class="selections__card">
              <input type="radio" name="weigth_one" />
              <div class="decor"></div>
              <div class="card-img">
                <svg
                  width="28"
                  height="57"
                  viewBox="0 0 28 57"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 17.7357C28 17.6242 28 17.6242 28 17.5126L22.5946 2.78857V0.557649C22.5946 0.334557 22.4865 0.111465 22.2703 -8.07345e-05C22.0541 -0.111627 21.8378 -0.111627 21.6216 -8.07345e-05L5.62162 8.9236C5.51351 9.14669 5.2973 9.25824 5.2973 9.48133V11.7122L0 20.5244C0 20.5244 0 20.6359 0 20.7475L0.216216 50.5303C0.216216 50.7533 0.324324 50.9764 0.540541 51.088L11.027 56.9999H11.1351H11.2432H11.3514C11.3514 56.9999 11.4595 56.9999 11.4595 56.8884L27.5676 47.9647C27.7838 47.8531 27.8919 47.6301 27.8919 47.407L28 17.7357ZM6.59459 9.81597L21.4054 1.56156V2.56548L6.59459 10.8199V9.81597ZM10.7027 55.4383L1.40541 50.1956L1.18919 20.9706L5.83784 13.2739L10.7027 26.771V55.4383ZM11.8919 55.4383V26.6594C11.8919 26.5479 11.8919 26.5479 11.8919 26.4363L6.7027 12.1584L21.6216 3.79248L26.7027 17.8473V47.1839L11.8919 55.4383Z"
                    fill="#246E6E"
                  />
                  <path
                    d="M8.97297 25.544C8.86486 25.6556 8.75675 25.7671 8.64864 25.7671C8.54053 25.7671 8.32432 25.7671 8.21621 25.6556L5.62161 23.09L2.59459 22.7554C2.27026 22.7554 2.05405 22.4207 2.16216 22.1976C2.16216 21.863 2.48648 21.7515 2.7027 21.7515L5.83783 22.0861C5.94594 22.0861 6.05405 22.1976 6.16215 22.1976L8.86486 24.8748C9.18918 25.0978 9.18918 25.4325 8.97297 25.544Z"
                    fill="#246E6E"
                  />
                </svg>
              </div>
              <div class="card-value">
                6 kg
              </div>
              <div class="card-text">
                <span>30</span> jours de repas pour <span>Douglas</span>
              </div>
            </label>
            <label class="selections__card">
              <input type="radio" name="weigth_one" />
              <div class="decor"></div>
              <div class="card-img">
                <svg
                  width="28"
                  height="57"
                  viewBox="0 0 28 57"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 17.7357C28 17.6242 28 17.6242 28 17.5126L22.5946 2.78857V0.557649C22.5946 0.334557 22.4865 0.111465 22.2703 -8.07345e-05C22.0541 -0.111627 21.8378 -0.111627 21.6216 -8.07345e-05L5.62162 8.9236C5.51351 9.14669 5.2973 9.25824 5.2973 9.48133V11.7122L0 20.5244C0 20.5244 0 20.6359 0 20.7475L0.216216 50.5303C0.216216 50.7533 0.324324 50.9764 0.540541 51.088L11.027 56.9999H11.1351H11.2432H11.3514C11.3514 56.9999 11.4595 56.9999 11.4595 56.8884L27.5676 47.9647C27.7838 47.8531 27.8919 47.6301 27.8919 47.407L28 17.7357ZM6.59459 9.81597L21.4054 1.56156V2.56548L6.59459 10.8199V9.81597ZM10.7027 55.4383L1.40541 50.1956L1.18919 20.9706L5.83784 13.2739L10.7027 26.771V55.4383ZM11.8919 55.4383V26.6594C11.8919 26.5479 11.8919 26.5479 11.8919 26.4363L6.7027 12.1584L21.6216 3.79248L26.7027 17.8473V47.1839L11.8919 55.4383Z"
                    fill="#246E6E"
                  />
                  <path
                    d="M8.97297 25.544C8.86486 25.6556 8.75675 25.7671 8.64864 25.7671C8.54053 25.7671 8.32432 25.7671 8.21621 25.6556L5.62161 23.09L2.59459 22.7554C2.27026 22.7554 2.05405 22.4207 2.16216 22.1976C2.16216 21.863 2.48648 21.7515 2.7027 21.7515L5.83783 22.0861C5.94594 22.0861 6.05405 22.1976 6.16215 22.1976L8.86486 24.8748C9.18918 25.0978 9.18918 25.4325 8.97297 25.544Z"
                    fill="#246E6E"
                  />
                </svg>
              </div>
              <div class="card-value">
                12 kg
              </div>
              <div class="card-text">
                <span>60</span> jours de repas pour <span>Douglas</span>
              </div>
              <div class="card-advantages">
                <span class="advantage">
                  <div class="icon">
                    <svg
                      width="12"
                      height="12"
                      viewBox="0 0 12 12"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.94999 8.42142C5.03571 8.50713 5.14285 8.57142 5.27142 8.57142C5.39999 8.57142 5.52857 8.50713 5.59285 8.39999L8.89285 4.11427C9.04285 3.92142 8.99999 3.66427 8.80714 3.51427C8.61428 3.36427 8.35714 3.40713 8.20714 3.59999L5.22857 7.45713L3.70714 5.65713C3.57856 5.46427 3.32142 5.39999 3.10714 5.52856C2.91428 5.65713 2.84999 5.91427 2.97856 6.12856C2.99999 6.17142 3.02142 6.19285 3.06428 6.21427L4.94999 8.42142Z"
                        fill="#6C6C6C"
                      />
                      <path
                        d="M6 12C9.32143 12 12 9.32143 12 6C12 2.67857 9.32143 0 6 0C2.67857 0 0 2.67857 0 6C0 9.32143 2.67857 12 6 12ZM6 0.857143C8.85 0.857143 11.1429 3.15 11.1429 6C11.1429 8.85 8.85 11.1429 6 11.1429C3.15 11.1429 0.857143 8.85 0.857143 6C0.857143 3.15 3.15 0.857143 6 0.857143Z"
                        fill="#6C6C6C"
                      />
                    </svg>
                  </div>
                  <div class="text">Livraison offerte</div>
                </span>
              </div>
            </label>
        </div>
      </div>
      <div class="productAdding__selections">
        <h2 class="selections__title">Votre envoi</h2>
        <div class="selections__list price">
          <label class="selections__card">
            <input type="radio" name="price_one" />
            <div class="decor"></div>
            <div class="card-img">
              <svg
                width="54"
                height="54"
                viewBox="0 0 54 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M53.9325 13.2975C53.865 13.1625 53.865 13.1625 53.7975 13.095C53.7975 13.095 53.7975 13.095 53.7975 13.0275C53.73 12.96 53.73 12.96 53.6625 12.8925C53.6625 12.8925 53.6625 12.8925 53.595 12.8925L27.27 0.0674707C27.0675 -2.92975e-05 26.865 -2.92975e-05 26.6625 0.0674707L0.337505 12.8925H0.270005C0.202505 12.96 0.202505 12.96 0.135005 13.0275C0.135005 13.0275 0.135005 13.0275 0.135005 13.095C0.0675049 13.1625 0.0675049 13.23 0.0675049 13.23V13.2975C0.0675049 13.365 0.0675049 13.4325 0.0675049 13.5V39.825C0.0675049 40.095 0.202505 40.2975 0.405005 40.4325L26.73 53.9325C26.7975 54 26.9325 54 27 54C27.0675 54 27.2025 54 27.27 53.9325L53.595 40.4325C53.7975 40.2975 53.9325 40.095 53.9325 39.825V13.5C54 13.4325 54 13.365 53.9325 13.2975ZM26.325 52.245L1.35 39.42V14.58L9.3825 18.6975V30.105C9.3825 30.375 9.5175 30.5775 9.72 30.7125L17.55 34.83C17.6175 34.8975 17.7525 34.8975 17.8875 34.8975C18.0225 34.8975 18.1575 34.8975 18.225 34.7625C18.4275 34.6275 18.5625 34.425 18.5625 34.2225V23.4225L26.325 27.405V52.245ZM17.2125 22.7475V33.1425L10.7325 29.7675V19.3725L17.2125 22.7475ZM11.5425 18.2925L19.3725 14.31L25.4475 17.55L17.685 21.465L11.5425 18.2925ZM27 26.2575L19.2375 22.275L27.27 18.225C27.4725 18.09 27.675 17.8875 27.675 17.6175C27.675 17.3475 27.54 17.145 27.3375 17.01L19.7775 13.0275C19.575 12.8925 19.3725 12.8925 19.17 13.0275L10.0575 17.55L2.16001 13.5L27 1.41747L51.84 13.5L27 26.2575ZM52.65 39.42L27.675 52.245V27.405L52.65 14.58V39.42Z"
                  fill="#246E6E"
                />
              </svg>
            </div>
            <div class="holder">
              <div class="card-text">
                Achat unique
              </div>
              <div class="card-value">
                42,00 €
              </div>
            </div>
          </label>
          <label class="selections__card">
            <input type="radio" name="price_one" />
            <div class="decor"></div>
            <div class="card-img">
              <svg
                width="46"
                height="55"
                viewBox="0 0 46 55"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M43.2021 19.5016C43.2021 19.4809 43.1919 19.4603 43.1816 19.4397C43.1713 19.4191 43.161 19.3985 43.161 19.3779L43.0787 19.2954H43.0376L26.991 11.4618C26.8676 11.4206 26.7442 11.4206 26.6207 11.4618L10.5742 19.2954H10.5331C10.5174 19.3112 10.5017 19.3209 10.4882 19.3292C10.4665 19.3427 10.4508 19.3524 10.4508 19.3779C10.4097 19.4191 10.4097 19.4603 10.4097 19.5016V19.5428V19.6665V35.7459C10.4097 35.9109 10.4919 36.0345 10.6154 36.117L26.6619 44.3629C26.703 44.4041 26.7853 44.4041 26.8265 44.4041C26.8676 44.4041 26.9499 44.4041 26.991 44.3629L43.0376 36.117C43.161 36.0345 43.2433 35.9109 43.2433 35.7459V19.6665C43.2433 19.6253 43.2433 19.584 43.2021 19.5016ZM26.7853 12.2864L41.9266 19.6665L26.7853 27.4588L22.0537 25.0263L26.9499 22.5525C27.0733 22.4701 27.1556 22.3464 27.1556 22.1815C27.1556 22.0166 27.0733 21.8929 26.9499 21.8104L22.3417 19.3779C22.2182 19.2954 22.0948 19.2954 21.9714 19.3779L16.458 22.1402L11.6851 19.6665L26.7853 12.2864ZM16.8694 23.2534L20.8193 25.2737V31.623L16.8694 29.5615V23.2534ZM17.3631 22.5938L22.136 20.1612L25.839 22.1402L21.1073 24.5315L17.3631 22.5938ZM11.1503 20.3261L16.0465 22.8411V29.8089C16.0465 29.9738 16.1288 30.0975 16.2522 30.18L21.025 32.695C21.0662 32.7362 21.1485 32.7362 21.2308 32.7362C21.3131 32.7362 21.3953 32.7362 21.4365 32.695C21.5599 32.6125 21.6422 32.4888 21.6422 32.3239V25.7272L26.3739 28.1597V43.2909L11.1503 35.4573V20.3261ZM42.4204 35.4986L27.1968 43.3321V28.1597L42.4204 20.3261V35.4986Z"
                  fill="#246E6E"
                />
                <path
                  d="M43.2021 19.5016C43.2021 19.4809 43.1919 19.4603 43.1816 19.4397C43.1713 19.4191 43.161 19.3985 43.161 19.3779L43.0787 19.2954H43.0376L26.991 11.4618C26.8676 11.4206 26.7442 11.4206 26.6207 11.4618L10.5742 19.2954H10.5331C10.5174 19.3112 10.5017 19.3209 10.4882 19.3292C10.4665 19.3427 10.4508 19.3524 10.4508 19.3779C10.4097 19.4191 10.4097 19.4603 10.4097 19.5016V19.5428V19.6665V35.7459C10.4097 35.9109 10.4919 36.0345 10.6154 36.117L26.6619 44.3629C26.703 44.4041 26.7853 44.4041 26.8265 44.4041C26.8676 44.4041 26.9499 44.4041 26.991 44.3629L43.0376 36.117C43.161 36.0345 43.2433 35.9109 43.2433 35.7459V19.6665C43.2433 19.6253 43.2433 19.584 43.2021 19.5016ZM26.7853 12.2864L41.9266 19.6665L26.7853 27.4588L22.0537 25.0263L26.9499 22.5525C27.0733 22.4701 27.1556 22.3464 27.1556 22.1815C27.1556 22.0166 27.0733 21.8929 26.9499 21.8104L22.3417 19.3779C22.2182 19.2954 22.0948 19.2954 21.9714 19.3779L16.458 22.1402L11.6851 19.6665L26.7853 12.2864ZM16.8694 23.2534L20.8193 25.2737V31.623L16.8694 29.5615V23.2534ZM17.3631 22.5938L22.136 20.1612L25.839 22.1402L21.1073 24.5315L17.3631 22.5938ZM11.1503 20.3261L16.0465 22.8411V29.8089C16.0465 29.9738 16.1288 30.0975 16.2522 30.18L21.025 32.695C21.0662 32.7362 21.1485 32.7362 21.2308 32.7362C21.3131 32.7362 21.3953 32.7362 21.4365 32.695C21.5599 32.6125 21.6422 32.4888 21.6422 32.3239V25.7272L26.3739 28.1597V43.2909L11.1503 35.4573V20.3261ZM42.4204 35.4986L27.1968 43.3321V28.1597L42.4204 20.3261V35.4986Z"
                  stroke="#246E6F"
                />
                <path
                  d="M39.0868 7.17391L43.5716 6.76162L42.0904 5.64843C38.1405 2.72114 32.5036 0.989505 26.9079 1.07196C22.2586 1.15442 15.4285 2.47376 9.21562 8.4108C-1.02947 18.2234 -1.72893 34.3028 7.65211 45.0225C12.2603 50.2999 18.967 53.5157 26.0439 53.928C32.9562 54.3403 39.6217 52.0315 44.8471 47.455C45.0528 47.2901 45.3408 47.2901 45.5054 47.455C45.7111 47.6612 45.7111 47.991 45.5054 48.1972C41.2263 51.9903 36.1655 54.2166 30.4464 54.8351C19.0904 56.072 8.39272 50.3411 3.08503 40.1987C-2.3461 29.8088 -0.494582 17.069 7.65211 8.45202C11.89 3.99925 17.0743 1.31934 23.5752 0.329835C24.3158 0.206147 25.0975 0.123688 25.8382 0C25.8793 0 25.9204 0 25.9616 0H29.0886C29.4178 0.0412294 29.7881 0.0824588 30.1172 0.123688C30.8578 0.206147 31.6396 0.329835 32.4213 0.453523C35.5895 1.03073 38.5931 2.18516 41.6789 3.99925C41.7201 4.04048 41.8024 4.08171 41.8435 4.12294C41.967 4.2054 42.0904 4.28786 42.3373 4.45277L44.3534 5.68966L43.3659 3.54573C43.1602 3.0922 42.9544 2.55622 42.7076 2.02024C42.5841 1.73163 42.5018 1.48426 42.3784 1.23688C42.255 0.989505 42.3784 0.65967 42.6664 0.577211C42.7899 0.535982 42.9133 0.535982 43.0779 0.577211C43.2013 0.618441 43.2836 0.742129 43.3659 0.865817L45.9169 7.009C45.958 7.17391 45.958 7.33883 45.8757 7.46252C45.7934 7.58621 45.6289 7.7099 45.4643 7.7099L39.0868 8.24588C38.8399 8.28711 38.5519 8.08096 38.5519 7.75112C38.5931 7.46252 38.7988 7.21514 39.0868 7.17391Z"
                  fill="#246E6E"
                />
              </svg>
            </div>
            <div class="holder">
              <div class="card-text">
                Abonnement flexible
              </div>
              <div class="card-value">
                35,70 €
              </div>
            </div>
            <div class="card-advantages">
              <span class="advantage">
                <div class="icon">
                  <svg
                    width="12"
                    height="12"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M4.94999 8.42142C5.03571 8.50713 5.14285 8.57142 5.27142 8.57142C5.39999 8.57142 5.52857 8.50713 5.59285 8.39999L8.89285 4.11427C9.04285 3.92142 8.99999 3.66427 8.80714 3.51427C8.61428 3.36427 8.35714 3.40713 8.20714 3.59999L5.22857 7.45713L3.70714 5.65713C3.57856 5.46427 3.32142 5.39999 3.10714 5.52856C2.91428 5.65713 2.84999 5.91427 2.97856 6.12856C2.99999 6.17142 3.02142 6.19285 3.06428 6.21427L4.94999 8.42142Z"
                      fill="#6C6C6C"
                    />
                    <path
                      d="M6 12C9.32143 12 12 9.32143 12 6C12 2.67857 9.32143 0 6 0C2.67857 0 0 2.67857 0 6C0 9.32143 2.67857 12 6 12ZM6 0.857143C8.85 0.857143 11.1429 3.15 11.1429 6C11.1429 8.85 8.85 11.1429 6 11.1429C3.15 11.1429 0.857143 8.85 0.857143 6C0.857143 3.15 3.15 0.857143 6 0.857143Z"
                      fill="#6C6C6C"
                    />
                  </svg>
                </div>
                <div class="text">Livraison offerte</div>
              </span>
              <span class="advantage">
                <div class="icon">
                  <svg
                    width="12"
                    height="12"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M4.94999 8.42142C5.03571 8.50713 5.14285 8.57142 5.27142 8.57142C5.39999 8.57142 5.52857 8.50713 5.59285 8.39999L8.89285 4.11427C9.04285 3.92142 8.99999 3.66427 8.80714 3.51427C8.61428 3.36427 8.35714 3.40713 8.20714 3.59999L5.22857 7.45713L3.70714 5.65713C3.57856 5.46427 3.32142 5.39999 3.10714 5.52856C2.91428 5.65713 2.84999 5.91427 2.97856 6.12856C2.99999 6.17142 3.02142 6.19285 3.06428 6.21427L4.94999 8.42142Z"
                      fill="#6C6C6C"
                    />
                    <path
                      d="M6 12C9.32143 12 12 9.32143 12 6C12 2.67857 9.32143 0 6 0C2.67857 0 0 2.67857 0 6C0 9.32143 2.67857 12 6 12ZM6 0.857143C8.85 0.857143 11.1429 3.15 11.1429 6C11.1429 8.85 8.85 11.1429 6 11.1429C3.15 11.1429 0.857143 8.85 0.857143 6C0.857143 3.15 3.15 0.857143 6 0.857143Z"
                      fill="#6C6C6C"
                    />
                  </svg>
                </div>
                <div class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
              </span>
              <span class="advantage">
                <div class="icon">
                  <svg
                    width="12"
                    height="12"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M4.94999 8.42142C5.03571 8.50713 5.14285 8.57142 5.27142 8.57142C5.39999 8.57142 5.52857 8.50713 5.59285 8.39999L8.89285 4.11427C9.04285 3.92142 8.99999 3.66427 8.80714 3.51427C8.61428 3.36427 8.35714 3.40713 8.20714 3.59999L5.22857 7.45713L3.70714 5.65713C3.57856 5.46427 3.32142 5.39999 3.10714 5.52856C2.91428 5.65713 2.84999 5.91427 2.97856 6.12856C2.99999 6.17142 3.02142 6.19285 3.06428 6.21427L4.94999 8.42142Z"
                      fill="#6C6C6C"
                    />
                    <path
                      d="M6 12C9.32143 12 12 9.32143 12 6C12 2.67857 9.32143 0 6 0C2.67857 0 0 2.67857 0 6C0 9.32143 2.67857 12 6 12ZM6 0.857143C8.85 0.857143 11.1429 3.15 11.1429 6C11.1429 8.85 8.85 11.1429 6 11.1429C3.15 11.1429 0.857143 8.85 0.857143 6C0.857143 3.15 3.15 0.857143 6 0.857143Z"
                      fill="#6C6C6C"
                    />
                  </svg>
                </div>
                <div class="text">Lorem ipsum dolor sit amet.</div>
              </span>
            </div>
            <div class="discount">
              <svg
                width="86"
                height="63"
                viewBox="0 0 86 63"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M84.3501 10.1457C83.4468 10.1457 82.9951 10.8297 82.8822 11.6277V11.7417C82.8822 11.8557 82.8822 12.0837 82.7692 12.1977C82.7692 12.4257 82.6563 12.7677 82.5434 12.9956C82.4305 13.5656 82.2047 14.2496 81.9788 14.8196L81.8659 15.0476C81.8659 15.1616 81.753 15.2756 81.753 15.3896C81.6401 15.6176 81.5271 15.9595 81.3013 16.1875C80.9625 16.7575 80.6238 17.3275 80.285 17.8975C79.8334 18.4674 80.1721 19.6074 80.8496 19.9494C81.6401 20.2914 82.3176 20.0634 82.8822 19.3794C84.5759 16.9855 85.4793 14.2496 85.818 11.3997C85.931 10.8297 85.1405 10.0318 84.3501 10.1457Z"
                  fill="#246E6E"
                />
                <path
                  d="M79.156 3.07785C78.3656 3.07785 77.6881 3.76182 77.6881 4.55979C77.6881 5.12977 77.688 5.69975 77.5751 6.26973C77.5751 6.38373 77.5751 6.49772 77.5751 6.61172C77.5751 6.72572 77.5751 6.83971 77.4622 6.95371C77.3493 7.29569 77.3493 7.63768 77.2364 7.86567C77.1235 8.43565 76.8976 9.00563 76.6718 9.57561C76.6718 9.57561 76.6718 9.68961 76.5589 9.68961C76.446 9.8036 76.4459 9.9176 76.333 10.1456C76.2201 10.4876 75.9943 10.7156 75.8814 11.0576C75.5426 11.7415 75.6555 12.6535 76.4459 13.1095C77.1235 13.4515 78.0268 13.3375 78.4785 12.5395C79.8335 10.1456 80.6239 7.40969 80.6239 4.4458C80.6239 3.76182 79.9464 2.96385 79.156 3.07785Z"
                  fill="#246E6E"
                />
                <path
                  d="M64.3636 17.8974C68.2029 13.7935 70.1225 8.3217 70.1225 3.07789C70.1225 0.455984 66.8478 -0.341988 64.9282 2.16592C63.4603 4.67383 61.3148 7.29574 56.0076 7.29574C55.7818 7.29574 55.3301 7.29574 55.2172 7.18174C55.1043 7.06775 54.8785 6.95375 54.7655 6.83975C54.3139 6.49777 53.7493 6.15578 53.2976 5.81379C47.7646 2.16592 40.9895 0.113996 33.6498 0H33.311C31.956 0 30.488 0.113996 29.133 0.227992C13.3244 1.93793 0 13.9075 0 30.8929C0 38.9866 3.0488 46.0543 8.13014 51.5261C14.4536 58.1379 23.7129 62.2418 34.1014 62.2418C52.0555 62.2418 67.0737 49.3602 67.0737 31.2349C67.0737 26.447 66.0574 22.1152 64.1378 18.2393C64.2507 18.1253 64.3636 18.0114 64.3636 17.8974Z"
                  fill="#246E6E"
                />
              </svg>
              <div class="num">
                -10%
              </div>
            </div>
          </label>
        </div>
      </div>
      <div class="productAdding__bottom">
        <div class="bottom__price">Total : <b>42,00€</b> (1,40€ /jour)</div>
        <div class="bottom__btnWrap">
          <button type="submit" class="btn">Ajouter au panier</button>
        </div>
        <div class="bottom__link">
          <a href="#">Ou ajouter un autre animal</a>
        </div>
      </div>
    </div>
  </div>
</section>